header {background-image: url(https://img.freepik.com/vector-premium/fondo-codigo-binario-tecnologia-abstracta_6735-500.jpg);background-size: cover; width: auto;}
body {background-color: black; color: white; font-size: large; font-family: 'Lato', sans-serif;
    ;}
h1 {text-align: center;}
.proyectos {text-align: center; width: 100%;}
.LogotipoP {width: 240px;}
.container {justify-content: center; align-content: center;}
.mybabycrystory { padding-left: 35px; padding-right: 35px;}
.parrafo {margin-top: 10px;}
.cartas {display: flex; justify-content: center;}
footer {background-color: gray; padding: 20px; margin-top: 20px;}